@import "~@fontsource/quicksand/400.css";
@import "~@fontsource/quicksand/500.css";
@import "~@fontsource/quicksand/600.css";
@import "~@fontsource/quicksand/700.css";

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #c4daff;
  text-align: center;
}

.main-content {
  margin: 40px auto;
  padding: 20px 1%;
  background-color: white;
  border-radius: 10px;
}

.content {
  margin: 20px auto;
  padding: 26px 0px;
  width: 80%;
}

.form-container {
  margin: 20px auto;
}


.line-break {
  margin-bottom: 20px;
}

.line-break-small {
  margin-bottom: 10px;
}

.line-break-large {
  margin-bottom: 30px;
}

/* Form */
.form {
  margin: 0 auto;
  text-align: center;

  .form-title {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
  }

  .form-subtitle {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 17px;
  }

  .field {
    margin-bottom: 20px;

    p {
      text-align: center;
    }
  }

  .checkbox-grid-wide {
    margin: auto;

    .vf-parent-column {
      min-width: 180px;
      display: flex;
      justify-content: left;
    }

    .vf-first-column {
      min-width: 100px;
      display: flex;
      justify-content: left;
    }

    .vf-second-column {
      min-width: 100px;
      display: flex;
      justify-content: left;
    }

    .vf-third-column {
      min-width: 160px;
      display: flex;
      justify-content: left;
    }

    .vf-fourth-column {
      min-width: 160px;
      display: flex;
      justify-content: left;
    }
  }

  .checkbox-grid-slim {
    margin: auto;
  }

  .checkbox-parent-group {
    display: flex;
    justify-content: space-between;
  
    .children-checkboxes {
      display: flex;
    }
  }

  .first-column {
    width: 123px;
  }

  .second-column {
    width: 160px;
    label {
      margin-right: 0px;
    }
  }

  .shift-group-right {
    margin-left: 20px;
  }

  .form-button-row button {
    margin-top: 20px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .helper-text {
    margin: auto;
    text-align: center;
  }

  .godan-checkbox {
    margin-left: 32px;
  }

  .slim-mode-container {
    max-width: 350px;
    margin: auto;
    .slim-mode-parent {
      max-width: 400px;
      margin: auto;
  
      .vf-parent-column {
        display: flex;
        justify-content: left;
      }
  
      .vf-first-column {
        width: 123px;
        display: flex;
        justify-content: left;
      }
  
      .vf-second-column {
        width: 160px;
        display: flex;
        justify-content: left;
      }
    }
  }
}


.test-form-fieldset {
  width: 60%;
  font-size: 18px;
  font-weight: 500;

  .form-title {
    margin-bottom: 10px;
  }

  .question-numbers-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fixed-size-area {
    height: 140px;
  }

  .question-section {
    font-size: 22px;
    font-weight: 500;
  }

  .correct-answer {
    margin: auto;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: green;
    width: 120px;
    padding: 4px;
    font-weight: bold;
  }

  .incorrect-answer {
    margin: auto;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: red;
    width: 120px;
    padding: 4px;
    font-weight: bold;
  }
  

  .your-answer {
    display: flex;
    justify-content: center;
    p {
      max-width: 400px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .timer {
    p {
      font-size: 40px;
      font-weight: bold;
    }
  }
}


