@import "~@fontsource/quicksand/400.css";
@import "~@fontsource/quicksand/500.css";
@import "~@fontsource/quicksand/700.css";

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: #333;
}

body {
  background-color: #c4daff;
  text-align: center;
}

.main-content {
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.content {
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}


/* Form */
.form {
  margin: 0 auto;
  text-align: center;
}
.form label {
  text-align: left;
  display: block;
}
.form legend {
  font-size: 20px;
  margin-bottom: 30px;
}
.form input, .form textarea, .form select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.form-button-row button {
  margin-left: 6px;
  margin-right: 6px;
}
