@import "~@fontsource/quicksand/400.css";
@import "~@fontsource/quicksand/500.css";
@import "~@fontsource/quicksand/700.css";

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: #333;
}

body {
  background-color: #c4daff;
  text-align: center;
}

.main-content {
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.content {
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}


/* Form */
.form {
  margin: 0 auto;
  text-align: center;

  .form-title {
    margin-bottom: 30px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: large;
    color: black;
  }

  .field {
    margin-bottom: 20px;
  }

  .lineBreak {
    margin-bottom: 20px;
  }

  .checkbox-grid-wide {
    max-width: 800px;
    margin: auto;
  }

  .checkbox-grid-slim {
    max-width: 500px;
    margin: auto;
  }

  .checkbox-group {
    margin-bottom: 20px;
  }

  .checkbox-parent-group {
    display: flex;
    align-items: left;
    justify-content: space-between;

    .parent-checkbox {
      margin-right: 64px;
    }
  
    .children-checkboxes {
      min-width: 480px;
      display: flex;
    }
  }

  .toggle-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    min-width: 900px;
    
    span {
      width: 250px;
    }
  }

  .form-button-row button {
    margin-top: 20px;
    margin-left: 6px;
    margin-right: 6px;
  }
}
/*.form input, .form textarea, .form select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}*/
